*.pom linguist-detectable linguist-language=XML
*.kts linguist-detectable linguist-language=Kotlin
*.jar linguist-detectable linguist-language=Java
*.yaml linguist-detectable linguist-language=YAML
*.md linguist-detectable linguist-language=Markdown
