/jdk
/target
/libs
/annotation-tools
!repository/.nojekyll
!repository/README.md
!repository/com/google/errorprone
!repository/com/google/errorprone/*
!repository/com/google/guava
!repository/com/google/guava/*
!repository/com/google/guava/*/*
!repository/com/google/guava/*/*/*
!repository/com/google/guava/*/*/*/*
!repository/com/google/j2objc
!repository/com/google/j2objc/*
!repository/com/google/j2objc/*/*
!repository/com/google/j2objc/*/*/*
!repository/com/google/j2objc/*/*/*/*
!repository/org/checkerframework
!repository/org/checkerframework/*
!repository/org/checkerframework/*/*
!repository/org/checkerframework/*/*/*
!repository/org/checkerframework/*/*/*/*
repository/*
repository/**/*.*
