[submodule "checker"]
	path = org.checkerframework
	url = git@github.com:typetools/checker-framework.git
	branch = master
[submodule "error-prone"]
	path = com.google.errorprone
	url = git@github.com:google/error-prone.git
	branch = master
[submodule "j2objc"]
	path = com.google.j2objc
	url = git@github.com:sgammon/j2objc.git
	branch = master
[submodule "guava"]
	path = com.google.guava
	url = git@github.com:sgammon/guava.git
[submodule "reactive-streams"]
	path = org.reactivestreams
	url = git@github.com:sgammon/reactive-streams-jvm.git
