[submodule "checker"]
	path = org.checkerframework
	url = git@github.com:typetools/checker-framework.git
	branch = master
[submodule "error-prone"]
	path = com.google.errorprone
	url = git@github.com:google/error-prone.git
	branch = master
[submodule "j2objc"]
	path = com.google.j2objc
	url = git@github.com:sgammon/j2objc.git
	branch = master
[submodule "guava"]
	path = com.google.guava
	url = git@github.com:sgammon/guava.git
[submodule "reactive-streams"]
	path = org.reactivestreams
	url = git@github.com:sgammon/reactive-streams-jvm.git
[submodule "protobuf"]
	path = com.google.protobuf
	url = git@github.com:sgammon/protobuf.git
[submodule "dubbo"]
	path = tests/integration/dubbo
	url = git@github.com:javamodules/dubbo.git
[submodule "pmd"]
	path = tests/integration/pmd
	url = git@github.com:javamodules/pmd.git
[submodule "ghidra"]
	path = tests/integration/ghidra
	url = git@github.com:javamodules/ghidra.git
[submodule "armeria"]
	path = tests/integration/armeria
	url = git@github.com:javamodules/armeria.git
[submodule "bazel"]
	path = tests/integration/bazel
	url = git@github.com:bazelbuild/bazel.git
[submodule "signal-server"]
	path = tests/integration/signal-server
	url = git@github.com:javamodules/Signal-Server.git
[submodule "pkl"]
	path = tests/integration/pkl
	url = git@github.com:javamodules/pkl.git
[submodule "checkstyle"]
	path = tests/integration/checkstyle
	url = git@github.com:javamodules/checkstyle.git
[submodule "gson"]
	path = tests/integration/gson
	url = git@github.com:google/gson.git
[submodule "geantyref"]
	path = io.leangen.geantyref
	url = git@github.com:javamodules/geantyref.git
