/.dev
/.m2
/jdk
/target
/libs
/annotation-tools
*SNAPSHOT*
.DS_Store
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
node_modules/
web/
packages/*/*.tgz
local.bazelrc
tsconfig.tsbuildinfo
pom.xml.versionsBackup
