use-node-version=21.7.1

#registry=https://npm.pkg.st/
@buf:registry=https://buf.build/gen/npm/v1/
node-mirror:release=https://node.pkg.st/

store-dir=./.dev/store/pnpm
update-notifier=false
save-prefix=''
fund=false
maxsockets=500
fetch-timeout=60000
fetch-retries=5
fetch-retry-maxtimeout = 120000
fetch-retry-mintimeout = 500
node-linker=isolated
auto-install-peers=true
recursive-install=true
side-effects-cache=true
engine-strict=false
package-import-method=auto

git-branch-lockfile=false
merge-git-branch-lockfiles-branch-pattern[]=main
merge-git-branch-lockfiles-branch-pattern[]=release*

public-hoist-pattern[]=*types*
public-hoist-pattern[]=*@prettier/plugin-*
public-hoist-pattern[]=prettier-plugin-*
public-hoist-pattern[]=*buf*
public-hoist-pattern[]=*@buf*
public-hoist-pattern[]=turbo*
public-hoist-pattern[]=esbuild-register
public-hoist-pattern[]=@swc*
