.husky
.well-known/maven-indexes

build
target
node_modules
dist
packages/indexer/src/gen
packages/java/package.json
packages/maven/package.json
packages/indexer/package.json
packages/gradle/package.json

/assets/creative
/assets/img

/com.google.errorprone
/com.google.guava
/com.google.j2objc
/com.google.protobuf
/io.leangen.geantyref
/kotlinx.collections.immutable
/org.checkerframework
/org.reactivestreams

/repository
/tests
/tools

pnpm-lock.yaml
bun.lockb

packages/*/reports/*
