common --enable_platform_specific_config
common --experimental_isolated_extension_usages

build:buildbuddy --bes_results_url=https://skunkworks.buildbuddy.io/invocation/
build:buildbuddy --bes_backend=grpcs://skunkworks.buildbuddy.io
build:buildbuddy --remote_cache=grpcs://skunkworks.buildbuddy.io
build:buildbuddy --remote_timeout=3600

build:buildbuddy --experimental_remote_cache_compression
build:buildbuddy --experimental_remote_build_event_upload=minimal
build:buildbuddy --experimental_profile_include_target_label
build:buildbuddy --experimental_profile_include_primary_output 
build:buildbuddy --experimental_inmemory_jdeps_files
build:buildbuddy --experimental_inmemory_dotd_files

build:remote-exec --remote_executor=grpcs://skunkworks.buildbuddy.io

build:local-metadata --build_metadata=REPO_URL=https://github.com/elide-dev/jpms.git

build --config=local-metadata
